
h2{
color: orange;
font-family: 'Times New Roman', Times, serif;
}
h1 {
color: orange;
font-family: 'Times New Roman', Times, serif;
}
p{
	color: orangered;
	font-family: 'Times New Roman', Times, serif;
	border: 1px solid rgb(255, 179, 170); 
}


.details {
	color: orangered;
}

img:hover{
	transform: scale(1.1);
}

