html{
	
	background: url(horse-herd-fog-nature-52500.jpeg) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}
body {

}
h1 {
color: Black;
font-family: timesnewroman;
}
p{
	border: 1px solid rgb(255, 179, 170); 
}

.details {
	background-color: rgba(255, 179, 170, 0.2);
}

img:hover{
	transform: scale(1.1);
}

